﻿@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*#region */
.radio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 8px;
}
.radio *,
.radio *::before,
.radio *:before,
.radio *::after,
.radio *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.radio:after,
.radio:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
  float: none;
  padding: 0;
  margin: 0;
}
.radio > input {
  line-height: 1.42857;
  float: left;

  display: block;

  font-family: Roboto;

  font-weight: normal;

  font-style: normal;

  font-size: 1.4em;

  padding: 4px 5px 0 0;
}
.radio > label {
  cursor: pointer;
  line-height: 21px;
  display: block;
  font-family: Roboto;

  font-weight: normal;

  font-style: normal;

  font-size: 18px;

  color: #202020;

  -webkit-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}
.radio > label:hover {
  color: #202020;
}
.radio > label > a {
  color: #3d8ab8;
  text-decoration: none;
}
.radio > label > a:hover {
  color: #3d8ab8;
  text-decoration: underline;
}

@media screen and (min-width: 1px) {
  .radio {
  }
  .radio > input[type='radio'] {
    display: none;
  }
  .radio > input[type='radio'] ~ label::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 8.5px);

    left: 11.5px;

    width: 17px;

    height: 17px;

    border: 2px solid #92b2c7;

    background: white;

    border-radius: 100%;

    -webkit-transition: background-color 0.2s ease-in-out 0s;
    -o-transition: background-color 0.2s ease-in-out 0s;
    -moz-transition: background-color 0.2s ease-in-out 0s;
    transition: background-color 0.2s ease-in-out 0s;
  }
  .radio > input[type='radio']:checked ~ label::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 8.5px);

    left: 11.5px;

    width: 17px;

    height: 17px;

    border: 2px solid #92b2c7;

    background: #92b2c7;
  }
  .radio > input[type='radio'] ~ label {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 0 0 39.5px;

    font-family: Roboto;

    font-weight: 300;

    font-style: normal;

    font-size: 18px;
  }
}

.radio__cash label,
.radio__google_pay label,
.radio__card label {
  display: flex;
  align-items: center;
}
.radio__cash label > *,
.radio__google_pay label > *,
.radio__card label > * {
  max-width: 216px;
}
.radio__cash label span:first-child,
.radio__google_pay label span:first-child,
.radio__card label span:first-child {
  margin-right: 16px;
}

.radio__cash-icon {
  display: inline-block;
  width: 45px;
  height: 41px;
  background: url('../img/dexp.sprite.png') -10px -204px no-repeat;
  display: block;
}

.radio__google_pay-icon {
  display: inline-block;
  width: 45px;
  height: 41px;
  background: url('../img/dexp.sprite.png') -10px -255px no-repeat;
  display: block;
}

.radio__card-icon {
  display: inline-block;
  width: 45px;
  height: 41px;
  background: url('../img/dexp.sprite.png') -10px -306px no-repeat;
  display: block;
}

/*#endregion */

.dexp-footer-padding {
  padding-bottom: 320px;
}

.dexp-footer-block {
  width: 100%;
  bottom: 0;
  position: absolute;
  float: left;
  min-width: 1200px;
  overflow: hidden;
  z-index: 500;
  background: #5ca3e2;
  background: linear-gradient(to right, #64afdb, #5ca3e2);
}

.dexp-footer-content {
  width: 73%;
  float: left;
  padding: 35px 0 30px 0;
}

.dexp-footer-content-elem {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-right: 2%;
}

.dexp-footer-content-elem-title {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 7px;
  color: white;
  position: relative;
  margin-bottom: 13px;
}
.dexp-footer-content-elem-title a {
  color: white;
  text-decoration: none;
}
.dexp-footer-content-elem-title a:hover {
  text-decoration: underline;
}
.dexp-footer-content-elem-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 54px;
  height: 1px;
  background: white;
}

.dexp-footer-content-elem-text li {
  margin-bottom: 6px;
}

.dexp-footer-content-elem-text a {
  display: block;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.3;
  color: #fff;
  text-decoration: none;
}
.dexp-footer-content-elem-text a:hover {
  text-decoration: underline;
}

.dexp-footer-info {
  float: right;
  width: 25%;
  padding: 29px 0 22px;
}

.dexp-footer-info-title {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 3px;
  text-align: right;
}

.dexp-footer-info-teaser {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 2.2em;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 9px;
  text-align: right;
}

.dexp-footer-info-line {
  width: 54px;
  height: 1px;
  background: white;
  margin: 0 0 0 auto;
  margin-bottom: 19px;
}

.dexp-footer-info-text {
  text-align: right;
}
.dexp-footer-info-text p {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 12px;
}
.dexp-footer-info-text a {
  color: white;
  text-decoration: underline;
}

.dexp-footer-bottom {
  padding: 11px 0;
  border-top: 1px solid #78b7ef;
}

.dexp-footer-bottom-left {
  width: 48%;
  float: left;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.3;
  color: #fff;
}
.dexp-footer-bottom-left p {
  margin-bottom: 4px;
}

.dexp-footer-bottom-right {
  width: 48%;
  float: right;
  padding-top: 6px;
}

/*#endregion */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=df3d815d642ae946f0ee13d2ded30bfa)
 * Config saved to config.json and https://gist.github.com/df3d815d642ae946f0ee13d2ded30bfa
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/*#region dexp-modal Bootstrap */
.modal-open {
  overflow: hidden;
  padding-right: 0 !important;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  padding-right: 0 !important;

  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;

  min-width: 250px;
}

.modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  background-color: #ffffff;

  border: 4px solid #e5e5e5;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px 30px;

  border-bottom: 1px solid #e5e5e5;
}

.modal-body {
  position: relative;
  padding: 30px;

  background: white;
}

.modal-footer {
  padding: 15px 30px;

  border-top: 1px solid #e5e5e5;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 462px) {
  .modal-dialog {
    width: 515px;
    margin: 30px auto;
  }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: ' ';
  display: table;
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

/*#endregion */
/*#region dexp-modal */
.dexp-modal-header {
  overflow: hidden;
  margin-right: 15px;

  font-family: Arial;

  font-weight: bold;

  font-style: normal;

  font-size: 1.4em;

  line-height: 1.3;

  color: #0387c1;

  min-height: 15px;

  text-transform: uppercase;
}

.dexp-modal-content {
  font-family: Arial;

  font-weight: normal;

  font-style: normal;

  font-size: 1.4em;

  line-height: 1.3;

  color: black;

  text-align: center;
}

.dexp-modal-footer {
  font-family: Arial;

  font-weight: normal;

  font-style: normal;

  font-size: 1.2em;

  line-height: 1.3;

  color: black;

  text-align: center;
}

.dexp-modal-close {
  outline: none;
  position: absolute;
  border: none;
  cursor: pointer;
  top: 15px;

  right: 15px;
}

/*#endregion */
/*#region Общее */
html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
  line-height: 1;
}

.common {
  width: 1440px;
  margin: 0 auto;
}

.clear {
  display: block;
  clear: both;
  height: 0;
  float: none;
  padding: 0;
  margin: 0;
}

/*#endregion */
/*#region Шапка */
.header {
  min-height: 84px;
  background: #92b2c7;
}

.header-logo {
  float: left;
  width: 178px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 6.4em;
  line-height: 50px;
  text-align: right;
}
.header-logo a {
  display: block;
  width: 100%;
  min-height: 84px;
  color: white;
  text-decoration: none;
  padding: 17px 0;
}
.header-logo a:hover {
  opacity: 0.8;
}

.header-nav {
  float: right;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 78px;
  width: 1262px;
}
.header-nav ul li {
  width: 170px;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.8em;
  color: white;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  overflow-wrap: break-word;
}
.header-nav ul li a {
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 31.5px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.header-nav ul li a:hover {
  background: white;
  color: #202020;
}

.header-nav-elem__active a {
  background: white;
  color: #202020 !important;
}

/*#endregion */
/*#region Подвал */
.footer {
  min-height: 84px;
  background: #92b2c7;
}

.footer-privacy {
  padding: 28px 0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2.4em;
  color: white;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: center;
}

/*#endregion */
/*#region Main */
.main-content {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  flex-wrap: wrap;
}

/*#endregion */
/*#region Dots */
.main-dots {
  width: 100%;
  min-height: 81px;
  padding: 32px 42px;
  display: flex;
}

.main-dots-item {
  margin-right: 8px;
}
.main-dots-item a {
  display: block;
  width: 100%;
  width: 17px;
  height: 17px;
  border: 2px solid #92b2c7;
  border-radius: 50%;
}
.main-dots-item a:hover {
  background: #92b2c7;
  opacity: 0.6;
}

.main-dots-item:last-child {
  margin-right: 0;
}

.main-dots-item__active a {
  background: #92b2c7;
}
.main-dots-item__active a:hover {
  opacity: 1;
}

/*#endregion */
/*#region Order */
.main-order {
  padding: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-order-sender {
  width: 394px;
  margin-right: 128px;
}

.main-order-sender-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.main-order-sender-fullname {
  margin-bottom: 32px;
}
.main-order-sender-fullname input {
  width: 394px;
  padding: 9.5px;
  border: 1px solid #92b2c7;
}
.main-order-sender-fullname input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: black;
  opacity: 0.5;
}

.main-order-sender-payment-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: left;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  margin-bottom: 16px;
}

.main-order-recipient {
  position: relative;
  width: 394px;
}

.main-order-recipient-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.main-order-recipient-fullname,
.main-order-recipient-date {
  margin-bottom: 32px;
}
.main-order-recipient-fullname input,
.main-order-recipient-date input {
  width: 394px;
  padding: 9.5px;
  border: 1px solid #92b2c7;
}
.main-order-recipient-fullname input::placeholder,
.main-order-recipient-date input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: black;
  opacity: 0.5;
}

.main-order-recipient-date {
  position: relative;
}
.main-order-recipient-date::after {
  background: url('../img/dexp.sprite.png') -10px -357px no-repeat;
  content: '      ';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 11px;
  left: 11px;
  padding-left: 10px;
}

.main-order-recipient-date input {
  padding-left: 35px;
}

.main-order-recipient-order {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-order-recipient-order button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border: none;
  background: #92b2c7;
  opacity: 0.6;
  padding: 10px;
  width: 178px;
  overflow-wrap: break-word;
}
.main-order-recipient-order button:hover {
  cursor: pointer;
  opacity: 1;
}

/*#endregion */
/*#region Параметры посылки */
.main-parameters {
  max-width: 500px;
  margin-right: 125px;
}

.main-parameters-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 64px;
  margin-bottom: 64px;
}

.main-parameters-dimensions {
  display: flex;
}

.main-parameters-dimensions-list {
  margin-right: 74px;
}

.main-parameters-dimensions-list-elem {
  margin-bottom: 32px;
}
.main-parameters-dimensions-list-elem input {
  height: 40px;
  width: 97px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: black;
  letter-spacing: 0.01em;
  text-align: center;
  border: 1px solid #92b2c7;
  padding: 9.5px;
  margin-right: 3px;
}
.main-parameters-dimensions-list-elem input::placeholder {
  opacity: 0.5;
}
.main-parameters-dimensions-list-elem span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  letter-spacing: 0.01em;
}

.main-parameters-dimensions-img {
  padding-top: 28px;
}

.main-parameters-weight input {
  height: 40px;
  width: 196px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: black;
  letter-spacing: 0.01em;
  text-align: center;
  border: 1px solid #92b2c7;
  padding: 9.5px;
  margin-right: 10px;
  margin-bottom: 1px;
}
.main-parameters-weight input::placeholder {
  text-transform: lowercase;
  opacity: 0.5;
}

.main-parameters-weight span {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  letter-spacing: 0.01em;
}

.main-parameters-weight-warning {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fd7971;
  letter-spacing: 0.01em;
}

/*#endregion */
/*#region Адреса */
.main-right {
  max-width: 640px;
}

.main-right-address {
  margin: 0 auto;
}

.main-right-address-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 64px;
  margin-bottom: 64px;
}

.main-right-address-fields {
  display: flex;
  margin-bottom: 93px;
}

.main-right-address-fields-left {
  margin-right: 8px;
}

.main-right-address-fields-left-elem label {
  display: inline-block;
  width: 96px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: lowercase;
  margin-right: 3px;
}

.main-right-address-fields-left-elem input {
  height: 40px;
  width: 394px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: black;
  letter-spacing: 0.01em;
  text-align: center;
  border: 1px solid #92b2c7;
  padding: 9.5px;
  margin-right: 3px;
}
.main-right-address-fields-left-elem input::placeholder {
  text-transform: lowercase;
  opacity: 0.5;
}

.main-right-address-fields-left-elem:first-child {
  margin-bottom: 32px;
}

.main-right-address-fields-swap {
  display: flex;
  align-items: center;
}
.main-right-address-fields-swap button {
  border: none;
  padding: 0;
  display: inline-block;
  width: 24px;
  height: 29px;
  background: url('../img/dexp.sprite.png') -10px -40px no-repeat;
}
.main-right-address-fields-swap button:hover {
  cursor: pointer;
}

.main-right-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.main-right-bottom-price {
  display: flex;
}

.main-right-bottom-price-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  padding-top: 15px;
  margin-right: 20px;
}

.main-right-bottom-price-ruble {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #92b2c7;
  letter-spacing: 0.01em;
  text-transform: lowercase;
}
.main-right-bottom-price-ruble span {
  font-size: 32px;
}

.main-right-bottom-price-order {
  padding-top: 7px;
}
.main-right-bottom-price-order button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border: none;
  background: #92b2c7;
  opacity: 0.6;
  padding: 10px;
  width: 178px;
  overflow-wrap: break-word;
}
.main-right-bottom-price-order button:hover {
  cursor: pointer;
  opacity: 1;
}

.main-right-bottom-price-discount-now {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: #de5858;
  letter-spacing: 0.01em;
  text-transform: lowercase;
}
.main-right-bottom-price-discount-now span {
  font-size: 32px;
}

.main-right-bottom-price-discount-before {
  position: relative;
  float: right;
  max-width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #92b2c7;
  text-align: right;
  letter-spacing: 0.01em;
  text-transform: lowercase;
}
.main-right-bottom-price-discount-before::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  width: 107%;
  border-top: 2px solid #de5858;
  transform: rotate(-10deg);
}
.main-right-bottom-price-discount-before span {
  font-size: 16px;
}

.main__index .main-right-address-fields {
  margin-bottom: 84px;
}

.main__index .main-right-bottom-price-description {
  padding-top: 26px;
}

/*#endregion */
/*#region First */
.first-content {
  background: url(../img/bg-index.png) no-repeat;
  background-size: 100%;
  height: 680px;
}

.first-content-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.first-content-top-logo {
  margin-left: 46px;
  padding-top: 11px;
}
.first-content-top-logo a {
  display: block;
  width: 100%;
}
.first-content-top-logo a:hover {
  opacity: 0.8;
}
.first-content-top-logo img {
  display: block;
  max-width: 100%;
}

.first-content-top-nav ul {
  display: flex;
  padding-top: 37px;
}
.first-content-top-nav ul li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-right: 128px;
}
.first-content-top-nav ul li a {
  color: white;
  text-decoration: none;
}
.first-content-top-nav ul li a:hover {
  color: #202020;
}
.first-content-top-nav ul li a:active {
  opacity: 0.8;
}
.first-content-top-nav ul li:last-child {
  margin-right: 55px;
}

.first-content-text-content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  width: 393px;
  margin-right: 101px;
}

/*#endregion */
/*#region Benefits */
.benefits-content-list {
  display: flex;
  justify-content: center;
}

.benefits-content-list-elem {
  margin-top: -40px;
  margin-bottom: 48px;
  width: 295px;
  margin-right: 32px;
  background: white;
  border: 2px solid #92b2c7;
  padding: 6px 24px;
}
.benefits-content-list-elem:last-child {
  margin-right: 0;
}

.benefits-content-list-elem-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.benefits-content-list-elem-img {
  margin-bottom: 13px;
}
.benefits-content-list-elem-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.benefits-content-list-elem-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  min-height: 42px;
  vertical-align: middle;
}

/*#endregion */
/*#region Nav */
.nav-content {
  display: flex;
  background: #92b2c7;
}

.nav-content-elem {
  position: relative;
  width: calc(100% - 1056px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border-top: 1px solid #92b2c7;
  border-bottom: 1px solid #92b2c7;
}
.nav-content-elem::after {
  content: '';
  position: absolute;
  right: -1px;
  top: calc(50% - 30px);
  height: 60px;
  border-right: 1px solid white;
}
.nav-content-elem a {
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 28px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.nav-content-elem a:hover {
  color: black;
  background: white;
}
.nav-content-elem:hover::after {
  display: none;
}
.nav-content-elem:first-child {
  width: 528px;
}
.nav-content-elem:last-child {
  width: 528px;
}

.nav-content-elem__active a {
  color: black;
  background: white;
}

.nav-content-elem__active::after {
  display: none;
}

/*#endregion */
/*#region Контакты */
.contacts-content-text {
  padding: 64px 120px;
}

.contacts-content-text-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-right: 180px;
}

.contacts-content-text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-content-text-content-left {
  max-width: 794px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
}

.contacts-content-info {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.contacts-content-info-elem {
  margin-right: 64px;
}
.contacts-content-info-elem:last-child {
  margin-right: 0;
}

.contacts-content-info-elem-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
}

.contacts-content-info-elem-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.contacts-content-info-elem-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 9px 19px;
  display: flex;
  align-items: center;
}
.contacts-content-info-elem-address::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 27px;
  background: url('../img/dexp.sprite.png') -10px -167px no-repeat;
  margin-right: 4px;
}

.contacts-content-info-elem-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 7px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-content-info-elem-phone a {
  color: #202020;
  text-decoration: none;
}
.contacts-content-info-elem-phone a:hover {
  text-decoration: underline;
}
.contacts-content-info-elem-phone a:active {
  opacity: 0.8;
}
.contacts-content-info-elem-phone::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 34px;
  background: url('../img/dexp.sprite.png') -10px -79px no-repeat;
  margin-right: 7px;
}

.contacts-content-info-elem-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 7px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-content-info-elem-mail a {
  color: #202020;
  text-decoration: none;
}
.contacts-content-info-elem-mail a:hover {
  text-decoration: underline;
}
.contacts-content-info-elem-mail a:active {
  opacity: 0.8;
}
.contacts-content-info-elem-mail::before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 34px;
  background: url('../img/dexp.sprite.png') -10px -123px no-repeat;
  margin-right: 4px;
}

/*#endregion */
/*#region Modal */
.dexp-modal {
  background: white;
  width: 515px;
  border: 2px solid #92b2c7;
}

.dexp-modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #92b2c7;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.dexp-modal-title::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 45px;
  background: url('../img/dexp.sprite.png') -10px -383px no-repeat;
  margin-right: 16px;
}

.dexp-modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  margin-bottom: 8px;
}

.dexp-modal-code input {
  width: 350px;
  padding: 9px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background: white;
  border: 1px solid #92b2c7;
  margin-right: 8px;
}

.dexp-modal-code button {
  border: none;
  padding: 0;
  display: inline-block;
  width: 22px;
  height: 26px;
  background: url('../img/dexp.sprite.png') -10px -438px no-repeat;
}
.dexp-modal-code button:hover {
  cursor: pointer;
}

/*#endregion */
