﻿@import 'reset.scss';
@import 'dexp.sprite.scss';
@import 'footer.scss';

/*#region Общее */

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
  line-height: 1;
}

.common {
  width: 1440px;
  margin: 0 auto;
}

.clear {
  display: block;
  clear: both;
  height: 0;
  float: none;
  padding: 0;
  margin: 0;
}

/*#endregion */

/*#region Шапка */

.header {
  min-height: 84px;
  background: #92b2c7;
}

.header-logo {
  float: left;
  width: 178px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 6.4em;
  line-height: 50px;
  text-align: right;

  a {
    display: block;
    width: 100%;
    min-height: 84px;
    color: white;
    text-decoration: none;
    padding: 17px 0;

    &:hover {
      opacity: 0.8;
    }
  }
}

.header-nav {
  float: right;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 78px;
    width: 1262px;

    li {
      width: 170px;
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 1.8em;
      color: white;
      line-height: 1.17;
      text-transform: uppercase;
      text-align: center;
      overflow-wrap: break-word;

      a {
        display: block;
        width: 100%;
        min-height: 100%;
        padding: 31.5px 0;
        color: white;
        text-decoration: none;
        vertical-align: middle;

        &:hover {
          background: white;
          color: #202020;
        }
      }
    }
  }
}
.header-nav-elem__active {
  a {
    background: white;
    color: #202020 !important;
  }
}
/*#endregion */

/*#region Подвал */

.footer {
  min-height: 84px;
  background: #92b2c7;
}

.footer-privacy {
  padding: 28px 0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2.4em;
  color: white;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: center;
}

/*#endregion */

/*#region Main */
.main-content {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  flex-wrap: wrap;
}
/*#endregion */

/*#region Dots */
.main-dots {
  width: 100%;
  min-height: 81px;
  padding: 32px 42px;
  display: flex;
}
.main-dots-item {
  margin-right: 8px;

  a {
    display: block;
    width: 100%;
    width: 17px;
    height: 17px;
    border: 2px solid #92b2c7;
    border-radius: 50%;

    &:hover {
      background: #92b2c7;
      opacity: 0.6;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
.main-dots-item__active {
  a {
    background: #92b2c7;

    &:hover {
      opacity: 1;
    }
  }
}
/*#endregion */

/*#region Order */
.main-order {
  padding: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-order-sender {
  width: 394px;
  margin-right: 128px;
}
.main-order-sender-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.main-order-sender-fullname {
  margin-bottom: 32px;

  input {
    width: 394px;
    padding: 9.5px;
    border: 1px solid #92b2c7;

    &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: lowercase;
      color: black;
      opacity: 0.5;
    }
  }
}
.main-order-sender-payment-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: left;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  margin-bottom: 16px;
}
.main-order-recipient {
  position: relative;
  width: 394px;
}
.main-order-recipient-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.main-order-recipient-fullname,
.main-order-recipient-date {
  margin-bottom: 32px;

  input {
    width: 394px;
    padding: 9.5px;
    border: 1px solid #92b2c7;

    &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: lowercase;
      color: black;
      opacity: 0.5;
    }
  }
}
.main-order-recipient-date {
  position: relative;

  &::after {
    content: '';
    @include dexp-icon-date();
    position: absolute;
    top: 11px;
    left: 11px;
  }
}
.main-order-recipient-order {
  position: absolute;
  bottom: 0;
  right: 0;

  button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    border: none;
    background: rgb(146, 178, 199);
    opacity: 0.6;
    padding: 10px;
    width: 178px;
    overflow-wrap: break-word;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
/*#endregion */

/*#region Параметры посылки */
.main-parameters {
  max-width: 500px;
  margin-right: 125px;
}
.main-parameters-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 64px;
  margin-bottom: 64px;
}
.main-parameters-dimensions {
  display: flex;
}
.main-parameters-dimensions-list {
  margin-right: 74px;
}
.main-parameters-dimensions-list-elem {
  margin-bottom: 32px;

  input {
    height: 40px;
    width: 97px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: black;
    letter-spacing: 0.01em;
    text-align: center;
    border: 1px solid #92b2c7;
    padding: 9.5px;
    margin-right: 3px;

    &::placeholder {
      opacity: 0.5;
    }
  }

  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    letter-spacing: 0.01em;
  }
}
.main-parameters-dimensions-img {
  padding-top: 28px;
}
.main-parameters-weight {
  input {
    height: 40px;
    width: 196px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: black;
    letter-spacing: 0.01em;
    text-align: center;
    border: 1px solid #92b2c7;
    padding: 9.5px;
    margin-right: 10px;
    margin-bottom: 1px;

    &::placeholder {
      text-transform: lowercase;
      opacity: 0.5;
    }
  }

  span {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    letter-spacing: 0.01em;
  }
}
.main-parameters-weight-warning {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fd7971;
  letter-spacing: 0.01em;
}
/*#endregion */

/*#region Адреса */
.main-right {
  max-width: 640px;
}
.main-right-address {
  margin: 0 auto;
}
.main-right-address-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 64px;
  margin-bottom: 64px;
}
.main-right-address-fields {
  display: flex;
  margin-bottom: 93px;
}
.main-right-address-fields-left {
  margin-right: 8px;
}
.main-right-address-fields-left-elem {
  label {
    display: inline-block;
    width: 96px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: lowercase;
    margin-right: 3px;
  }

  input {
    height: 40px;
    width: 394px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: black;
    letter-spacing: 0.01em;
    text-align: center;
    border: 1px solid #92b2c7;
    padding: 9.5px;
    margin-right: 3px;

    &::placeholder {
      text-transform: lowercase;
      opacity: 0.5;
    }
  }

  &:first-child {
    margin-bottom: 32px;
  }
}
.main-right-address-fields-swap {
  display: flex;
  align-items: center;

  button {
    border: none;
    padding: 0;
    @include dexp-icon-swap();

    &:hover {
      cursor: pointer;
    }
  }
}
.main-right-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.main-right-bottom-price {
  display: flex;
}
.main-right-bottom-price-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  padding-top: 15px;
  margin-right: 20px;
}
.main-right-bottom-price-ruble {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #92b2c7;
  letter-spacing: 0.01em;
  text-transform: lowercase;

  span {
    font-size: 32px;
  }
}
.main-right-bottom-price-order {
  padding-top: 7px;

  button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    border: none;
    background: rgb(146, 178, 199);
    opacity: 0.6;
    padding: 10px;
    width: 178px;
    overflow-wrap: break-word;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
.main-right-bottom-price-discount-now {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: #de5858;
  letter-spacing: 0.01em;
  text-transform: lowercase;

  span {
    font-size: 32px;
  }
}
.main-right-bottom-price-discount-before {
  position: relative;
  float: right;
  max-width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #92b2c7;
  text-align: right;
  letter-spacing: 0.01em;
  text-transform: lowercase;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    right: 0;
    width: 107%;
    border-top: 2px solid #de5858;
    transform: rotate(-10deg);
  }

  span {
    font-size: 16px;
  }
}
.main__index {
  .main-right-address-fields {
    margin-bottom: 84px;
  }

  .main-right-bottom-price-description {
    padding-top: 26px;
  }
}
/*#endregion */

/*#region First */
.first-content {
  background: url(/_i/bg-index.png) no-repeat;
  background-size: 100%;
  height: 680px;
}
.first-content-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}
.first-content-top-logo {
  margin-left: 46px;
  padding-top: 11px;

  a {
    display: block;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}
.first-content-top-nav {
  ul {
    display: flex;
    padding-top: 37px;

    li {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: right;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      margin-right: 128px;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: #202020;
        }

        &:active {
          opacity: 0.8;
        }
      }

      &:last-child {
        margin-right: 55px;
      }
    }
  }
}
.first-content-text-content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  width: 393px;
  margin-right: 101px;
}
/*#endregion */

/*#region Benefits */
.benefits-content-list {
  display: flex;
  justify-content: center;
}
.benefits-content-list-elem {
  margin-top: -40px;
  margin-bottom: 48px;
  width: 295px;
  margin-right: 32px;
  background: white;
  border: 2px solid #92b2c7;
  padding: 6px 24px;

  &:last-child {
    margin-right: 0;
  }
}
.benefits-content-list-elem-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.benefits-content-list-elem-img {
  margin-bottom: 13px;

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
.benefits-content-list-elem-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  min-height: 42px;
  vertical-align: middle;
}
/*#endregion */

/*#region Nav */
.nav-content {
  display: flex;
  background: #92b2c7;
}
.nav-content-elem {
  position: relative;
  width: calc(100% - 1056px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border-top: 1px solid #92b2c7;
  border-bottom: 1px solid #92b2c7;

  &::after {
    content: '';
    position: absolute;
    right: -1px;
    top: calc(50% - 30px);
    height: 60px;
    border-right: 1px solid white;
  }

  a {
    display: block;
    width: 100%;
    min-height: 100%;
    padding: 28px 0;
    color: white;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      color: black;
      background: white;
    }
  }

  &:hover {
    &::after {
      display: none;
    }
  }

  &:first-child {
    width: 528px;
  }

  &:last-child {
    width: 528px;
  }
}
.nav-content-elem__active {
  a {
    color: black;
    background: white;
  }

  &::after {
    display: none;
  }
}
/*#endregion */

/*#region Контакты */
.contacts-content-text {
  padding: 64px 120px;
}

.contacts-content-text-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-right: 180px;
}

.contacts-content-text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-content-text-content-left {
  max-width: 794px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
}
.contacts-content-info {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.contacts-content-info-elem {
  margin-right: 64px;

  &:last-child {
    margin-right: 0;
  }
}
.contacts-content-info-elem-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 34px;
}
.contacts-content-info-elem-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}
.contacts-content-info-elem-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 9px 19px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    @include dexp-icon-map();
    margin-right: 4px;
  }
}
.contacts-content-info-elem-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 7px 19px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #202020;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &::before {
    content: '';
    @include dexp-icon-phone();
    margin-right: 7px;
  }
}
.contacts-content-info-elem-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 7px 19px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #202020;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &::before {
    content: '';
    @include dexp-icon-mail();
    margin-right: 4px;
  }
}
/*#endregion */

/*#region Modal */
.dexp-modal {
  background: white;
  width: 515px;
  border: 2px solid #92b2c7;
}
.dexp-modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #92b2c7;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  &::before {
    content: '';
    @include dexp-icon-done();
    margin-right: 16px;
  }
}
.dexp-modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  margin-bottom: 8px;
}
.dexp-modal-code {
  input {
    width: 350px;
    padding: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: black;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: white;
    border: 1px solid #92b2c7;
    margin-right: 8px;
  }

  button {
    border: none;
    padding: 0;
    @include dexp-icon-copy();

    &:hover {
      cursor: pointer;
    }
  }
}
/*#endregion */
