﻿@mixin dexp-icon-calendar() {
  display: inline-block;
  width: 23px;
  height: 20px;
  background: url('../img/dexp.sprite.png') -10px -10px no-repeat;
}

@mixin dexp-icon-swap() {
  display: inline-block;
  width: 24px;
  height: 29px;
  background: url('../img/dexp.sprite.png') -10px -40px no-repeat;
}

@mixin dexp-icon-phone() {
  display: inline-block;
  width: 26px;
  height: 34px;
  background: url('../img/dexp.sprite.png') -10px -79px no-repeat;
}

@mixin dexp-icon-mail() {
  display: inline-block;
  width: 29px;
  height: 34px;
  background: url('../img/dexp.sprite.png') -10px -123px no-repeat;
}

@mixin dexp-icon-map() {
  display: inline-block;
  width: 26px;
  height: 27px;
  background: url('../img/dexp.sprite.png') -10px -167px no-repeat;
}

@mixin dexp-icon-cash() {
  display: inline-block;
  width: 45px;
  height: 41px;
  background: url('../img/dexp.sprite.png') -10px -204px no-repeat;
}

@mixin dexp-icon-google_pay() {
  display: inline-block;
  width: 45px;
  height: 41px;
  background: url('../img/dexp.sprite.png') -10px -255px no-repeat;
}

@mixin dexp-icon-card() {
  display: inline-block;
  width: 45px;
  height: 41px;
  background: url('../img/dexp.sprite.png') -10px -306px no-repeat;
}

@mixin dexp-icon-date() {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../img/dexp.sprite.png') -10px -357px no-repeat;
}

@mixin dexp-icon-done() {
  display: inline-block;
  width: 60px;
  height: 45px;
  background: url('../img/dexp.sprite.png') -10px -383px no-repeat;
}

@mixin dexp-icon-copy() {
  display: inline-block;
  width: 22px;
  height: 26px;
  background: url('../img/dexp.sprite.png') -10px -438px no-repeat;
}
