/*
This is an example of how to use the image sprite in your own CSS files
*/
.dexp {
  background-image: url('dexp.sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.dexp.icon-calendar {
  width: 23px;
  height: 20px;
  background-position: -10px -10px;
}
.dexp.icon-swap {
  width: 24px;
  height: 29px;
  background-position: -10px -40px;
}
.dexp.icon-phone {
  width: 26px;
  height: 34px;
  background-position: -10px -79px;
}
.dexp.icon-mail {
  width: 29px;
  height: 34px;
  background-position: -10px -123px;
}
.dexp.icon-map {
  width: 26px;
  height: 27px;
  background-position: -10px -167px;
}
.dexp.icon-cash {
  width: 45px;
  height: 41px;
  background-position: -10px -204px;
}
.dexp.icon-google_pay {
  width: 45px;
  height: 41px;
  background-position: -10px -255px;
}
.dexp.icon-card {
  width: 45px;
  height: 41px;
  background-position: -10px -306px;
}
.dexp.icon-date {
  width: 16px;
  height: 16px;
  background-position: -10px -357px;
}
.dexp.icon-done {
  width: 60px;
  height: 45px;
  background-position: -10px -383px;
}
.dexp.icon-copy {
  width: 22px;
  height: 26px;
  background-position: -10px -438px;
}
