﻿@import '_mixins.scss';

.dexp-footer {
}

.dexp-footer-padding {
  padding-bottom: 320px;
}

.dexp-footer-block {
  width: 100%;
  bottom: 0;
  position: absolute;
  float: left;
  min-width: 1200px;
  overflow: hidden;
  z-index: 500;
  background: #5ca3e2;
  background: linear-gradient(to right, #64afdb, #5ca3e2);
}

.dexp-footer-content {
  width: 73%;
  float: left;
  padding: 35px 0 30px 0;
}

.dexp-footer-content-elem {
  @include inline-block();
  width: 31%;
  margin-right: 2%;
}

.dexp-footer-content-elem-title {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  line-height: 1.3;
  text-transform: uppercase;
  padding-bottom: 7px;
  color: white;
  position: relative;
  margin-bottom: 13px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 54px;
    height: 1px;
    background: white;
  }
}

.dexp-footer-content-elem-text {
  ul {
  }

  li {
    margin-bottom: 6px;
  }

  a {
    display: block;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dexp-footer-info {
  float: right;
  width: 25%;
  padding: 29px 0 22px;
}

.dexp-footer-info-title {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 3px;
  text-align: right;
}

.dexp-footer-info-teaser {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 2.2em;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 9px;
  text-align: right;
}

.dexp-footer-info-line {
  width: 54px;
  height: 1px;
  background: white;
  margin: 0 0 0 auto;
  margin-bottom: 19px;
}

.dexp-footer-info-text {
  text-align: right;

  p {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 12px;
  }

  a {
    color: white;
    text-decoration: underline;
  }
}

.dexp-footer-bottom {
  padding: 11px 0;
  border-top: 1px solid #78b7ef;
}

.dexp-footer-bottom-left {
  width: 48%;
  float: left;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.3;
  color: #fff;

  p {
    margin-bottom: 4px;
  }
}

.dexp-footer-bottom-right {
  width: 48%;
  float: right;
  padding-top: 6px;
}

/*#endregion */
